* {
  padding: 0;
}

.nav-head {
  height: 50px;
}

.active {
  text-decoration: underline;
}

.inactive {
  text-decoration: none;
}

.height {
  height: 230px;
}

.header-container {
  display: flex;
}

.nav-brand {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: black;
}

.links-list {
  margin-left: 500px;
  display: flex;
  gap: 24px;
}

.link-item-active,
.link-item > a:hover,
.link-item > a:focus {
  text-decoration: none;
  border-bottom: 3px solid #5c73a2;
  color: #5c73a2;
  list-style: none;
}
